$h1color: black;
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.wrapper{
    max-width: 1920-40px;
    margin: 0 auto;
}
header{
    display: flex;
    height: 131px;
    align-items: center;
    justify-content: space-between;
    nav{
        margin-left: 20px;
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            width: 704px;
            height: 63px;
            gap: 83px;
            align-items: center;
            
            li{
                transition: 0.2s;  
                &:hover{
                    transform: scale(1.3);
                    transition: 0.2s;   
            }
            }
        }
    }
    button{
        background-color: red;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        border-style: none;
        margin-right: 20px;
        transition: 0.2s;
        &:hover{
            transform: scale(1.3);
            transition: 0.2s;
        }
    }
}
h1{
    width: 880px;
    height: 500px;
    background: url(/main/img/jpg/h1back.jpg);
    font-family: 'Bellefair', serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    //-webkit-text-stroke: 0.25px ;
    font-size: 200.63px;
    text-align: center;
    margin: 10px 0 0 905px;
    a{
        font-family: 'Dancing Script';
    }
}
